body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}



h1 {
    margin: 0;
}

.about{
    margin-top: 2%;
    margin-left: 20%;
    padding: 20px;
    max-width: 60%;
    background: #161616;
    border-radius: 8px;
    box-shadow: 0 5px 20px #ffd000;
}

section {
    margin-bottom: 20px;
}

