<head>
    <link rel="stylesheet" href="{{url_for('static', filename='index_styles.css')}}">
</head>

{% extends "layout.html" %} 

{% block body %} 

<div class="container">
    <div class="box">
        <img src="{{url_for('static', filename=('Tutoring.png '))}}" alt="Stack of books with a globe wearing a graduation cap" class="box-image">
        <p>...</p>
    </div>
    <div class="box">
        <img src="{{url_for('static', filename=('courses_icons.png '))}}" alt="Courses Icons" class="box-image">
        <p>We offer a wide range of courses which are suitable for all types of ages and education levels.</p>
    </div>
    <div class="box">
        <img src="{{url_for('static', filename=('School.png '))}}" alt="Students walking to a school" class="box-image">
        <p>Personalised, one-on-one support tailored to unique learning needs, helping grasp challenging concepts and improve academic performance.The flexibility of online tutoring has never been easier so sharpen your minf=d and join the journey.</p>
        
    </div>
</div>

{% endblock %} 