<head></head>
    <link rel="stylesheet" href="{{url_for('static', filename='menu_signup_login_styles.css')}}">
</head>

{% extends "layout.html" %} 

{% block body %}

<div class="container">
    <div class="box">
        <h2>Student</h2>
        <img src="{{url_for('static', filename=('student.png '))}}" alt="Picture of Student ">
        <a href="{{url_for('student_login')}}" class="button">Student Login</a>
    </div>
    <div class="box">
        <h2>Teacher</h2>
        <img src="{{url_for('static', filename=('teacher.png '))}}" alt="Picture of Teacher ">
        <a href="{{url_for('teacher_login')}}" class="button">Teacher Login</a>
    </div>
    <div class="box">
        <h2>Admin</h2>
        <img src="{{url_for('static', filename=('admin.png '))}}" alt="Picture of Admin ">
        <br/>
        <a href="{{url_for('admin_login')}}" class="button">Admin Login</a>
    </div>
</div>
 
{% endblock %} 